{% extends 'form_log_base.html' %} }}
{% load widget_tweaks %}
{% block form %}
    <h5 class="card-title text-center">Change password</h5>
    <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="form-label-group">
            {{ form.old_password|add_class:'form-control' }}
            <label>Old password</label>
        </div>
        <div class="form-label-group">
            {{ form.new_password1|add_class:'form-control' }}
            <label>New password</label>
        </div>
        <div class="form-label-group">
            {{ form.new_password2|add_class:'form-control' }}
            <label>New password confirm</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change password
        </button>
        <hr class="my-4">
    </form>
{% endblock %}