{% extends 'base.html' %}

{% block body %}
    <h4>
        {{ instance.name }}
    </h4>
    <a href={{"/edit_lesson/"}}{{ instance.pk|stringformat:"i"|add:"/"}}>
        Edit not good
    </a>
    <p>{{ instance.text }}</p>
    <hr>
    <br>
    <h5>Add Comment</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Enter
        </button>
    </form>

    <hr>
    {% for comment in comment_list %}
        <p>{{ comment.name }}</p>
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}
{% endblock %}