{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Курсы</h1>
        <h5>Найдено курсов {{ lessons_list|length }}</h5>
        <form method="get">
            <div class="form-label-group">
                <label for="inputEmail">Query</label>
                {{ search_form.search_query }}
            </div>
            <br>
            <div class="form-label-group">
                <label for="inputEmail">Subject</label>
                {{ search_form.subject_search }}
            </div>
            <br>
            <button type="submit">
                Search
            </button>
        </form>
    </div>
    <br>
    {% for el in page %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <a href="/lessons/{{ el.id }}/">
                        <h4>
                            {{ el.name }}
                        </h4>
                    </a>
                    <small>{{ el.date }}</small>
                </div>
                <p class="mb-1">{{ el.description }}</p>
                <a href={{ "/user_profile/?user="|add:el.user.username }}>
                    <small>
                        {{ el.user }}
                    </small>
                </a>
                <small>{{ el.subject }}</small>
            </div>
        </div>
    {% endfor %}
    <br><br>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% for num in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="./{{ page_link }}{{ num }}">{{ num }}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


{% endblock %}