{% extends 'base.html' %}

{% block body %}
    <h4>
        {{ instance.name }}
    </h4>
    <a href={{"/edit_lesson/"}}{{ instance.pk|stringformat:"i"|add:"/"}}>
        Edit
    </a>
    <br>
    <a href={{"/add_example/"}}{{ instance.pk|stringformat:"i"|add:"/"}}>
        Add Example
    </a>
    <p>{{ instance.description }}</p>
    <a href={{"/user_profile/?user="|add:instance.user.username}}>
        <p>{{ instance.user }}</p>
    </a>
    <hr>
    {% for example in example_list %}
        <a href="./{{ example.pk }}/">
            <p>{{ example.name }}</p>
        </a>
        <hr>
    {% endfor %}
    <br>
    <h5>Add Comment</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Enter
        </button>
    </form>

    <hr>
    {% for comment in comment_list %}
        <p>{{ comment.name }}</p>
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}
{% endblock %}