{% extends 'base.html' %}

{% block body %}
    <h4>
        {{ instance.name }}
    </h4>
    <h6>
        {{ instance.date }}
    </h6>
     <h6>Цена:
        {{ instance.price }}
        рублей
    </h6>
    <p>{{ instance.description }}</p>
    <form action="/subscribe/{{ instance.pk|stringformat:"i"|add:"/" }}">
        {% if sub_state %}
            <button>
                Subscribe
            </button>
        {% else %}
            <button style="background-color: grey!important;">
                Unsubscribe
            </button>
        {% endif %}
    </form>
    <h4>
        {{ message }}
    </h4>
    <hr>
    <a href={{ "/edit_lesson/" }}{{ instance.pk|stringformat:"i"|add:"/" }}>
        Edit
    </a>
    <br>
    <a href={{ "/add_example/" }}{{ instance.pk|stringformat:"i"|add:"/" }}>
        Add Example
    </a>

    <a href={{ "/user_profile/?user="|add:instance.user.username }}>
        <p>{{ instance.user }}</p>
    </a>
    <h4>
        Examples
    </h4>
    {% for el in example_list %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <a href={{ "./" }}{{ el.pk|stringformat:"i" |add:"/" }}>
                        <h4>
                            {{ el.name }}
                        </h4>
                    </a>
                    <small>{{ el.date }}</small>
                </div>
                <p class="mb-1">{{ el.text }}</p>
            </div>
        </div>
    {% endfor %}
    <br>
    <h5>Add Comment</h5>

    <div class="row bootstrap snippets">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comment panel
                    </div>
                    <div class="panel-body">

                        <form method="post">
                            {% csrf_token %}
                            {{ form.text }}
                            <br>
                            <button type="submit" class="btn btn-info pull-right">Post</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            {% for comment in comment_list %}
                                <li class="media">
                                    <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.date }}</small>
                                </span>
                                        <strong class="text-success">
                                            <a href={{ "/user_profile/?user="|add:comment.name }}>
                                                {{ comment.name }}
                                            </a>
                                        </strong>
                                        <p>

                                            {{ comment.text }}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}