{% extends 'form_log_base.html' %} }}
{% load widget_tweaks %}
{% block form %}
    <form class="form-signin" method="post">
        <h5 class="card-title text-center">Login</h5>
        {% csrf_token %}
        <div class="form-label-group">
            {{ form.username|add_class:'form-control' }}
            <label for="inputEmail">Login</label>
        </div>
        <div class="form-label-group">
            {{ form.password|add_class:'form-control' }}
            <label for="inputPassword">Password</label>
        </div>
        <button  class="btn btn-lg btn-danger btn-block text-uppercase"style="background-color: #ba002f   ; type="submit">Login
        </button>
        <hr class="my-4">
    </form>
{% endblock %}