{% extends 'base.html' %}

{% block body %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Login
        </button>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="container" id="formContainer">

                    <form class="form-signin" id="login" role="form">
                        {% csrf_token %}
                        <h3 class="form-signin-heading">Please sign in</h3>
                        <a href="#" id="flipToRecover" class="flipLink">
                            <div id="triangle-topright"></div>
                        </a>
                        {{ form.username }}
                        <input type="email" class="form-control" name="loginEmail" id="loginEmail"
                               placeholder="Email address" required autofocus>
                        <input type="password" class="form-control" name="loginPass" id="loginPass"
                               placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div> <!-- /container -->
        </div>
    </div>
{% endblock %}