{% extends 'form_log_base.html' %} }}
{% load widget_tweaks %}
{% block form %}
    <h5 class="card-title text-center">Регистрация</h5>
    <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="form-label-group">
            {{ form.username|add_class:'form-control' }}
            <label for="inputEmail">Логин</label>
        </div>
        <div class="form-label-group">
            {{ form.email|add_class:'form-control' }}
            <label for="inputEmail">Почта</label>
        </div>
        <div class="form-label-group">
            {{ form.password1|add_class:'form-control' }}
            <label for="inputEmail">Пароль</label>
        </div>
        <div class="form-label-group">
            {{ form.password2|add_class:'form-control' }}
            <label for="inputEmail">Подтверждение пароля</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registraton
        </button>
        <hr class="my-4">
    </form>
{% endblock %}